

#header-div{
    background-color: rgb(28, 27, 27);
    padding: 20px;
    margin-bottom: 20px;
}

#heading-title{
    color: aliceblue;
    font-size: 30px;
    margin-left: 6%;
    display: inline-block;
}